.spotify_token_cache
.env
*.env
*.env.*
.cache
*.cache

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

*.log
*.csv
*.json
*.xlsx
*.xls
*.pickle
*.h5
*.hdf5
*.pt
*.pth
*.onnx
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tgz
*.tar.lz
*.tar.lzma
*.tar.zst
*.tar.lzo
*.tar.lzop
*.tar.lz4
*.tar.lz4f
*.tar.lz4f
*.tar.lz4f
*.tar.lz4f